
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#tag {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #CC0000;
}


/* 
    GENERAL
*/

html {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}


main {
    transition: margin-left .5s;
    padding: 0;
}

article {
    padding: 2.0rem, 2.0rem, 2.0rem, 2.0rem;

}

.buttons {
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
}
.button {
    background-color: var(--iu-red);
    border: 2px solid var(--iu-red);
    border-radius: 30px;
    color: white;
    padding: 1.0em 5.0em;
    margin: 1.0em 2.0em 0 0;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color .2s ease-out, color .2s ease-out, border-color .18s ease-out;
    font-family: "Exo", sans-serif;
}

.button:hover {
    background-color: transparent;
    color: var(--iu-red);
}

.lessontab {
    font-family: "Exo", sans-serif;
}

@media only screen and (max-device-width: 480px) {
img {
        width: 100px;
        height: 100px;
}
th td{
        padding-left: -5px;
}

table {
        width: auto;
        overflow-x: auto;
        display: block;

}
}
