
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


#tag {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #CC0000;
}

html {
    box-sizing: border-box;
}

/* Menu styling code from I360 */


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

main {
    transition: margin-left .5s;
    padding: 0;
}

article {
    padding: 2.0rem, 2.0rem, 2.0rem, 2.0rem;

}

.edit-form {
    padding: 1.0rem;
}