html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }


    #tag {
        position: fixed;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        background-color: #CC0000;
    }


    /* 
        GENERAL
    */
    body {
        margin: 0;
        background-color: #F4DF9C;
    }



    h1 {

        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding-top: 3.0rem;
    }

    h1 span {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;

    }

    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 17px;
    }

    header h1, .container {

        width: 800px;
        display: flex;
        justify-content: center;

    }

    header {
        background-color: #cebc83;
        height: 150px;
        font-size: xx-large;

    }

    html {
        box-sizing: border-box;
    }

    /* Menu styling code from I360 */

    .openbtn {
        position: absolute;
        left: 20px;
        top: 10px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .openbtn:hover {
        color: var(--menu-color);
        cursor: pointer
    }

    .menu-button {
        font-size: 36px !important;
        position: relative;
        top: 6px;
        left: -4px;
    }

    .menu-text {
        font-size: 12px;
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    .all-over-bkg {
        display: none;
    }

    .is-visible {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 9999;
        display: block;
    }

    #mySidenav {
        z-index: 10000;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        background-color: rgb(237, 214, 177);
    }

    main {
        transition: margin-left .5s;
        padding: 0;
    }

    article {
        padding: 2.0rem, 2.0rem, 2.0rem, 2.0rem;

    }
    .lesson-number-text {
        padding-bottom: 2.0rem;

    }
    .progress-bar {
        display: inline-block !important;
        justify-content: center;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .term-buttons {
        display: flex;
        flex-wrap: wrap row;
        justify-content: center;
    }
    .number-buttons {
        display: flex;
        flex-wrap: wrap row;
        justify-content: center;

    }
    .number-buttons .btn {
        width: 70px;
        height: 30px;
        /*
        justify-content: center;        
        align-items: center;
        */
        background-color: #cebc83;
        border: 2px solid #a09365;
        border-radius: 10px;
        color: white;
        padding: 0px;
        /*padding: 0.5em 1.5em;*/
        margin: 0.5em;
        font-size: 12px;
        letter-spacing: 1px;
        transition: background-color .2s ease-out, color .2s ease-out, border-color .18s ease-out;
        font-family: Arial, Helvetica, sans-serif;
}
    .lesson-buttons {
        display: flex;
        flex-wrap: wrap row;
        justify-content: center;
        padding-bottom: 2.0rem;
    }
    .btn {
        background-color: #cebc83;
        border: 2px solid #a09365;
        border-radius: 30px;
        color: white;
        padding: 1.0em 5.0em;
        margin: 1.0em 2.0em 0 0;
        font-size: 18px;
        letter-spacing: 1px;
        transition: background-color .2s ease-out, color .2s ease-out, border-color .18s ease-out;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn:hover {
        background-color: #726948;
    }

img {
        height: 100%;
        width: 100%;
        object-fit: contain;
}

.flashText{
        text-align: center;
        font-size: 40px;
}

.flashImg {
        padding: 0;
}

.progress { 
        border: solid 1px black;
        border-style: solid;
        display: inline-block;
        vertical-align: top;
}
.flash {
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border: solid 5px black;
        height: 400px;
        width: 400px;
}

img {
        height: 100%;
        width: 100%;
        object-fit: contain;
}

.flashText{
        text-align: center;
        font-size: 40px;
}

.flashImg {

}

.progress {
        border: solid 1px black;
        border-style: solid;
        display: inline-block;
        vertical-align: top;
}

.scroll {
        margin-top: -4%;

}
@media only screen and (min-device-width: 1000px) {
.progress-bar {
        width: 100%;
        margin-left: auto;
        margin-right: auto;     

        }
}
@media only screen and (max-device-width: 480px) {
.term-buttons .btn{

        margin-left: 1%;
        margin-right: 1%;
        padding: 0px;
        width: 50%;
        height: 75px;

}
.lesson-buttons .btn {
        margin-left: 1%;
        margin-right: 1%;
        padding: 0px;
        width: 50%;
        height: 75px;
}
.number-buttons .btn {
        width: 60px;

}
}
