body {
    background-color: #F4DF9C;;
}
h1 {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 3.0rem;
}

h1 span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

header h1, .container {
    width: 800px;
    display: flex;
    justify-content: center;

}

header {
    background-color: #cebc83;
    height: 150px;
    font-size: xx-large;

}