.profile-page .pfp {
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-page .pfp {
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}
.profile-page .bar-div {
    display: flex;
    justify-content: space-between;
}
.profile-page .bar-div:hover {
    background-color: #444077;
    color: #ffffff;
}
.profile-page .level-display {
    width: 800px;
    height: 100px;
    background-color: #444077;
    border: 3px solid #06023d;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.profile-page .profile-level .level-display h2{
    color: #f4f4f4;
}

.edit-button img {
    border-radius: 50%;
    margin-left: 6.0rem;
}

@media only screen and (max-device-width: 480px) {
.profile-page .level-display {
        width: 90%;
        display: center;
}
}
