.profile-page {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.profile-page  .pfp {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 2px;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid #ebd462;
}

.edit-button img {
    border-radius: 50%;
    margin-left: 6.0rem;
}

@media only screen and (max-device-width: 480px) {
.profile-page .level-display {
        width: 90%;
        display: center;
}
}
