.profile-page {
    display: flex;
}

.profile-page .pfp {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.edit-button img {
    border-radius: 50%;
    margin-left: 6.0rem;
}

@media only screen and (max-device-width: 480px) {
.profile-page .level-display {
        width: 90%;
        display: center;
}
}
