body {
    background-color: #F4DF9C;
}
.profile-header header {
    background-color: #cebc83;
    height: 150px;
    font-size: xx-large;
}

.profile-page {
    background: #F4DF9C;
    padding: 2.0rem;
    text-align: center;
}

.profile-page .pfp {
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-page h1 {
    color: rgb(20, 20, 20);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.profile-page h3 {
    color: #828282;
    padding-bottom: 4.0rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.bar-div {
    background-color: #06023d;
    border: 2px solid #444077;
    border-radius: 30px;
    color: white;
    padding: 1.0em 5.0em;
    margin: 0 auto;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    transition: background-color .2s ease-out, color .2s ease-out, border-color .18s ease-out;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
.profile-page {
    background: #F4DF9C;
    padding: 2.0rem;
    text-align: center;
}

.profile-page .pfp {
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}
.profile-page .bar-div {
    display: flex;
    justify-content: space-between;
}
.profile-page .bar-div:hover {
    background-color: #444077;
    color: #ffffff;
}
.profile-page .level-display {
    width: 800px;
    height: 100px;
    background-color: #444077;
    border: 3px solid #06023d;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-page .profile-level .level-display h2{
    color: #f4f4f4;
}

.edit-button img {
    border-radius: 50%;
    margin-left: 3.0rem;
}