
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


#tag {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #CC0000;
}

body {
    margin: 0;
    background-color: #F4DF9C;
}

h1 {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 3.0rem;
}

h1 span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

header h1, .container {
    width: 800px;
    display: flex;
    justify-content: center;

}

header {
    background-color: #cebc83;
    height: 150px;
    font-size: xx-large;

}

html {
    box-sizing: border-box;
}

/* Menu styling code from I360 */

.openbtn {
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.openbtn:hover {
    color: #cebc83;
    cursor: pointer
}

.menu-button {
    font-size: 36px !important;
    position: relative;
    top: 6px;
    left: -4px;
}

.menu-text {
    font-size: 12px;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

main {
    transition: margin-left .5s;
    padding: 0;
}

article {
    padding: 2.0rem, 2.0rem, 2.0rem, 2.0rem;

}

.settings-form {
    padding: 1.0rem;
}