html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


#tag {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #CC0000;
}

:root {
    /* Colors from I360 */
    --menu-color: gold;
    --iu-red: rgb(153, 0, 0);
    --iu-grey: rgb(237, 235, 235);
    --iu-black: rgb(69, 56, 43);
}


/* 
    GENERAL
*/
body {
    margin: 0;
    background-color: #F4F4F4;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

/* Exo Font from Google Fonts */
.exo {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

h1 {

    font-family: "Exo", sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
    padding-top: 3.0rem;
}

h1 span {
    font-family: "Exo", sans-serif;
    font-weight: bold;
    color: rgb(30, 30, 30);
}

h2 {
    font-family: "Exo", sans-serif;
    font-weight: bold;
    color: rgb(30, 30, 30);
}

h3 {
    font-family: "Exo", sans-serif;
    font-weight: bold;
    color: rgb(30, 30, 30);

}

p {
    font-family: "Exo", sans-serif;
    font-size: 17px;
    color: rgb(30, 30, 30);
}

header h1,
.container {

    width: 800px;
    display: flex;
    justify-content: center;

}

header {
    background-color: #DFDFDF;
    height: 75px;
    margin: 0;

}

.header-title {
    padding-bottom: 2.0rem;
    border: 2px solid #ebd462;
    margin: 20px auto 0;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

html {
    box-sizing: border-box;
}

td {
    font-family: "Exo", sans-serif;
}

th {
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

/* Menu styling code from I360 */

.openbtn {
    position: absolute;
    left: 20px;
    top: 10px;
    color: rgb(30, 30, 30);
    font-family: "Exo", sans-serif;
}

.openbtn:hover {
    color: var(--menu-color);
    cursor: pointer
}

.menu-button {
    font-size: 36px !important;
    position: relative;
    top: 6px;
    left: -4px;
}

.menu-text {
    font-size: 12px;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

#mySidenav {
    z-index: 10000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
    background-color: rgb(237, 214, 177);
}

/* Sidenav code from I360 */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.sidenav a:hover {
    color: #9a8337;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

main {
    transition: margin-left .5s;
    padding: 0;
}


.racing-stripes {
    /* https://css-tricks.com/stripes-css/ */
    background: repeating-linear-gradient(-55deg,
            #ececec,
            #ececec 10px,
            #dcdcdc 10px,
            #dcdcdc 20px);
    height: 20px;
}

article {
    padding: 2.0rem, 2.0rem, 2.0rem, 2.0rem;

}

.project {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
}

.project h2 {
    display: flex;
    justify-content: center;
}

.project-about {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
}

.project-about h2 {
    color: var(--iu-red);
}

.sustain {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    background: var(--iu-grey);
    width: 100%;
}

.sustain h2 {
    color: var(--iu-red);
}

.aidan {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.aidan img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.aidan h2 {
    color: var(--iu-red);
    font-size: 30px;
    padding: 0.2rem;
}

.aidan-p p {
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin-top: 0;
}

.luke {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.luke img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.luke h2 {
    color: var(--iu-red);
    font-size: 30px;
    padding: 0.2rem;
}

.luke-p p {
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin-top: 0;
}

.max {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.max img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.max h2 {
    color: var(--iu-red);
    font-size: 30px;
    padding: 0.2rem;
}

.max-p p {
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin-top: 0;
}

.jeff {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-right: 2.0rem;
    padding-left: 2.0rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.jeff img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.jeff h2 {
    color: var(--iu-red);
    font-size: 30px;
    padding: 0.2rem;
}

.jeff-p p {
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin-top: 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
}

.button {
    background-color: var(--iu-red);
    border: 2px solid var(--iu-red);
    border-radius: 30px;
    color: white;
    padding: 1.0em 5.0em;
    margin: 1.0em 2.0em 0 0;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color .2s ease-out, color .2s ease-out, border-color .18s ease-out;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: transparent;
    color: #cebc83;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #cebc83 !important;
    border-color: #cebc83 !important;
}

.btn-primary:hover {
    background-color: #817550 !important;
}

a:link,
a:visited {
    text-decoration: none;
    font-weight: bold;
}

.video {
    display: flex;
    justify-content: center;
}