
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


#tag {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #CC0000;
}

body {
    background-color: #F4DF9C;
}

h1 {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 3.0rem;
    font-size: xx-large;
}

h1 span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

header h1, .container {
    width: 800px;
    display: flex;
    justify-content: center;

}

header {
    background-color: #cebc83;
    height: 150px;
    font-size: xx-large;

}

html {
    box-sizing: border-box;
}

.jumbotron {
    background-color: #cebc83;
}

/* Menu styling code from I360 */

.openbtn {
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.openbtn:hover {
    color: var(--menu-color);
    cursor: pointer
}

.menu-button {
    font-size: 36px !important;
    position: relative;
    top: 6px;
    left: -4px;
}

.menu-text {
    font-size: 12px;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

#mySidenav {
    z-index: 10000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: rgb(237, 214, 177);
}

/* Sidenav code from I360 */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.sidenav a:hover {
    color: var(--iu-red);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

main {
    transition: margin-left .5s;
    padding: 0;
}

article {
    padding: 2.0rem, 2.0rem, 2.0rem, 2.0rem;

}

.buttons {
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
    padding-top: 5.0rem;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #ead695 !important;
    border-color: #ead695 !important;
}

.btn-primary:hover {
    background-color: #a49465 !important;
    border-color: #a49465 !important;
}